<!DOCTYPE html>
<html lang="es">
    
  <head>
    <meta charset="utf-8">
      <title>Aura Diseño</title>  
      <link rel="stylesheet" href="../assets/css/style.css" />   
      <link rel="stylesheet" href="../assets/css/productos.css"/>
      <!--BOOTSTRAP CSS-->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"> 
      <link href="https://fonts.googleapis.com/css2?family=Ropa+Sans:ital@0;1&display=swap" rel="stylesheet">   
      <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600&display=swap" rel="stylesheet">
    
      <meta name="title" content="Aura Diseño">
      <meta name="description" content="Aura Diseño hacemos de tu casa tu lugar en el mundo.">
      <meta name="keywords" content="Diseño, Cuadros, Minimalista, Argentina, Buenos Aires,
      Diseño de interiores, Decoración, Paredes, Imágenes, Láminas, Ilustración, Home, Cuadros modernos">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- jQuery library --><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS --><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
  </head>
    
    <body>
        <header>
            <div class="nav-collapse" id="barraSuperior">
              <a href="../index.html">
                <img src="../assets/img/logo-aura-diseno.png" alt="logo Aura Diseño" id="logo">
              </a>
                <!--MENU-->
                <ul id="menu" class="nav justify-content-center">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../index.html">HOME</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="productos.html">TIENDA</a>
                  </li>
                    <li class="navbar-item" id="ig"> 
                      <a href="https://www.instagram.com/auradiseno/" class="nav-link"><i class="bi bi-instagram"></i></a>
                    </li> 
                    <li class="navbar-item active" id="fb"> 
                      <a href="https://www.facebook.com/auradiseno" class="nav-link"><i class="bi bi-facebook"></i></a>
                    </li> 
                    <li class="nav-item active" id="verCarrito"> 
                      <a href="carrito.html" class=”list-group-item” id="productosDelCarrito"><i id="cart" class="bi bi-cart" type="button" ></i><b id="contador"> 0 </b>
                        <span class="badge bg-primary" id="preciototal" data-toggle="modal" onclick="agregarAlCarrito()"> </span>                        
                      </a>
                  </li>
            </div>
        </header>
        <main>
          <!-- SECCION NOSOTROS -->
        </main>
        <form action="/process_payment" method="post" id="paymentForm">
          <h3>Detalles del comprador</h3>
            <div>
              <div>
                <label for="email">E-mail</label>
                <input id="email" name="email" type="text" value="test@test.com"/>
              </div>
              <div>
                <label for="docType">Tipo de documento</label>
                <select id="docType" name="docType" data-checkout="docType" type="text"></select>
              </div>
              <div>
                <label for="docNumber">Número de documento</label>
                <input id="docNumber" name="docNumber" data-checkout="docNumber" type="text"/>
              </div>
            </div>
          <h3>Detalles de la tarjeta</h3>
            <div>
              <div>
                <label for="cardholderName">Titular de la tarjeta</label>
                <input id="cardholderName" data-checkout="cardholderName" type="text">
              </div>
              <div>
                <label for="">Fecha de vencimiento</label>
                <div>
                  <input type="text" placeholder="MM" id="cardExpirationMonth" data-checkout="cardExpirationMonth"
                    onselectstart="return false" onpaste="return false"
                    oncopy="return false" oncut="return false"
                    ondrag="return false" ondrop="return false" autocomplete=off>
                  <span class="date-separator">/</span>
                  <input type="text" placeholder="YY" id="cardExpirationYear" data-checkout="cardExpirationYear"
                    onselectstart="return false" onpaste="return false"
                    oncopy="return false" oncut="return false"
                    ondrag="return false" ondrop="return false" autocomplete=off>
                </div>
              </div>
              <div>
                <label for="cardNumber">Número de la tarjeta</label>
                <input type="text" id="cardNumber" data-checkout="cardNumber"
                  onselectstart="return false" onpaste="return false"
                  oncopy="return false" oncut="return false"
                  ondrag="return false" ondrop="return false" autocomplete=off>
              </div>
              <div>
                <label for="securityCode">Código de seguridad</label>
                <input id="securityCode" data-checkout="securityCode" type="text"
                  onselectstart="return false" onpaste="return false"
                  oncopy="return false" oncut="return false"
                  ondrag="return false" ondrop="return false" autocomplete=off>
              </div>
              <div id="issuerInput">
                <label for="issuer">Banco emisor</label>
                <select id="issuer" name="issuer" data-checkout="issuer"></select>
              </div>
              <div>
                <label for="installments">Cuotas</label>
                <select type="text" id="installments" name="installments"></select>
              </div>
              <div>
                <input type="hidden" name="transactionAmount" id="transactionAmount" value="100" />
                <input type="hidden" name="paymentMethodId" id="paymentMethodId" />
                <input type="hidden" name="description" id="description" />
                <br>
                <button type="submit">Pagar</button>
                <br>
              </div>
          </div>
        </form>



        <section id="contacto">
          <footer>
            <ul id="detalle-contacto" class="nav justify-content-center">
                <li class="navbar-item"> 
                  <i id="truck" class="bi bi-truck">Envíos a todo el país</i>
                </li> 
                <li class="navbar-item"> 
                  <i id="safe" class="bi bi-file-lock">Compra segura</i>
                </li> 
                <li class="navbar-item"> 
                    <a href="https://www.instagram.com/auradiseno/" class="nav-link"><i id="ig" class="bi bi-instagram"></i></a>
                </li> 
                <li class="navbar-item active"> 
                    <a href="https://www.facebook.com/auradiseno" class="nav-link"><i id="fb" class="bi bi-facebook"></i></a>
                </li> 
                <li class="navbar-item active"> 
                    <a class="nav-link"> <i id="wapp" class="bi bi-whatsapp"></i></a>
                </li>
            </ul>    
          </footer>        
      </section> 
    <!--BOOTSTRAP JS-->
    <script src="../assets/js/script.js"></script>
    <script src="https://secure.mlstatic.com/sdk/javascript/v1/mercadopago.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>               -->
<!-- Optional JavaScript
<script src="../assets/jquery/jquery.min.js"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->

</body>
</html>